<%- include('../header') %>

<div class="list-group">
	<% for (var i = 0; i < lists.length; i++){ %>
	<a class="list-group-item" href="/mongo/ui/collection/<%=lists[i] %>"><%=lists[i] %></a>
	<% } %>
</div>
<form action="/mongo/ui/create.collection">
<button class="btn btn-info">新規作成</button>
</form>

<%- include('../footer') %>